#Python - Basics

Python is a general purpose, dynamic, high level languange.

###VARIABLES AND DATATYPES
Variables are reserved meemory containers which hold a value in itslelf.


Datatype is a type of value assigned to variable.

In [1]:
#Let's assign a value to a variable
x = 12

In [2]:
#Printing value and datatype of variable
print(12,type(x))

12 <class 'int'>

In [3]:
#Arithmetic operation
x+12

24

In [4]:
y=8.6
y

8.6

In [5]:
#type() returns the datatype of the variable
type(y)

float

###STRINGS

String is a sequence of characters which are engrossed within single or double quotes and are immutable.

In [6]:
string ="I am an alien"

In [7]:
string

'I am an alien'

In [8]:
type(string)

str

In [9]:
str1 = y

In [10]:
str1

8.6

In [11]:
str2 = "Alan is a good boy"

In [12]:
string + str2

'I am an alienAlan is a good boy'

In [13]:
str3 = "Michael"
str3

'Michael'

In [14]:
str3 * 12

'MichaelMichaelMichaelMichaelMichaelMichaelMichaelMichaelMichaelMichaelMichaelMichael'

In [15]:
"Michael " *12

'Michael Michael Michael Michael Michael Michael Michael Michael Michael Michael Michael Michael '

Slicing is extracting a part or creating substring from existing string

Syntax: str[index]

Syntax: str[start:end-1]

In [16]:
str2[0]

'A'

In [17]:
string[0]

'I'

In [18]:
string[1:3]

' a'

In [19]:
string[0:4]

'I am'

In [20]:
string[:4]

'I am'

In [21]:
string[:-5]

'I am an '

In [22]:
string[-5:]

'alien'

In [23]:
string[:4],string[-5:]

('I am', 'alien')

In [24]:
string[:4:]

'I am'

In [25]:
string[::-1]

'neila na ma I'

In [26]:
#upper() return string with uppercase letters
string.upper()

'I AM AN ALIEN'

In [27]:
#lower() returns string with all lowercase letters
string.lower()

'i am an alien'

In [28]:
str4 = "            My     name    is Michael    "

In [29]:
#Remove blank space
str4.strip()

'My     name    is Michael'

In [30]:
#Remove left blank space
str4.lstrip()

'My     name    is Michael    '

In [31]:
#Remove right blank space
str4.rstrip()

'            My     name    is Michael'

In [32]:
#isalpha() method returns True if all the characters are alphabet letters (a-z).
str4.isalpha()

False

In [33]:
str3.isalpha()

True

In [34]:
#isdigit() method returns True if all the characters are digits
"123".isdigit()

True

In [35]:
#isnumeric() method returns True if all the characters are numeric
"123".isnumeric()

True

In [36]:
#replace() method returns a string where a specified value is replaced with a specified value
"Madagascar".replace("a","e")

'Medegescer'

In [37]:
#index() searches the string for a specified value and returns the position of where it was found
"Madagascar".index('g')

4

In [38]:
#count() returns the number of times a specified value occurs in a string
"Madagascar".count("a")

4

In [39]:
#capitalize() converts the first character to upper case
"madagascar".capitalize()

'Madagascar'

Container is data structure which holds or contain data in them.

1. List 
2. Tuple
3. Dictionary

###LISTS

A list is data structure that holds a collection of items and can store a sequence of items in it. 

Lists are created by placing all items in [ ], seperated by comma.

Lists are mutable in nature.

In [40]:
list1 = []

In [41]:
type(list1)

list

In [42]:
list2 = ["Michael", "Madagascar", "Anna", "Jake", "Sarah"]
list2

['Michael', 'Madagascar', 'Anna', 'Jake', 'Sarah']

In [43]:
list2[1]

'Madagascar'

In [44]:
list2[-4]

'Madagascar'

In [45]:
list2[-5:-4]

['Michael']

In [46]:
list2[:2]

['Michael', 'Madagascar']

In [47]:
list2[-5:-3]

['Michael', 'Madagascar']

In [48]:
list2[4:5]

['Sarah']

In [49]:
list2[3:]

['Jake', 'Sarah']

In [50]:
list2[:2],list2[3:]

(['Michael', 'Madagascar'], ['Jake', 'Sarah'])

In [51]:
list3 = [list2[:2],list2[3:]]
list3

[['Michael', 'Madagascar'], ['Jake', 'Sarah']]

In [52]:
#append() adds an element at the end of the list
list2.append("Hannah")
list2

['Michael', 'Madagascar', 'Anna', 'Jake', 'Sarah', 'Hannah']

In [53]:
#insert() adds an element at the specified position
list2.insert(4,"Steven")
list2

['Michael', 'Madagascar', 'Anna', 'Jake', 'Steven', 'Sarah', 'Hannah']

In [54]:
list2.insert(3,'Hasan')
list2

['Michael', 'Madagascar', 'Anna', 'Hasan', 'Jake', 'Steven', 'Sarah', 'Hannah']

In [55]:
#sort() sorts the list
list2.sort()
list2

['Anna', 'Hannah', 'Hasan', 'Jake', 'Madagascar', 'Michael', 'Sarah', 'Steven']

In [56]:
#pop() removes the element at the specified position
list2.pop()

'Steven'

In [57]:
list2

['Anna', 'Hannah', 'Hasan', 'Jake', 'Madagascar', 'Michael', 'Sarah']

In [58]:
list2.pop(-2)

'Michael'

In [59]:
list2

['Anna', 'Hannah', 'Hasan', 'Jake', 'Madagascar', 'Sarah']

In [60]:
list2.insert(1,"Baron")

In [61]:
list2

['Anna', 'Baron', 'Hannah', 'Hasan', 'Jake', 'Madagascar', 'Sarah']

In [62]:
list2.remove("Hasan")

In [63]:
list2

['Anna', 'Baron', 'Hannah', 'Jake', 'Madagascar', 'Sarah']

In [64]:
list2.index("Madagascar")

4

In [65]:
list2.sort()

In [66]:
list2

['Anna', 'Baron', 'Hannah', 'Jake', 'Madagascar', 'Sarah']

In [67]:
a = int(input("Enter first value"))
b = int(input("Enter second value"))
a+b

Enter first value2
Enter second value4

6

###TUPLES

Tuples are immutable data structure which contain heterogeneous sequence of elements separated by comma. Elements of tuple are accessed by indexing.

Syntax: tuple =() or tuple = 

Advantages of tuples:
1. They protect the data as they are immutable
2. Tuples are faster than list
3. Tuples can be used as keys to dictionary

In [68]:
tupl1=(123, "Manson", 9)

In [69]:
type(tupl1)

tuple

In [70]:
tupl2=234, "Ben"

In [71]:
tupl2

(234, 'Ben')

In [72]:
tupl1 + tupl2

(123, 'Manson', 9, 234, 'Ben')

In [73]:
tupl2[1]

'Ben'

In [74]:
tupl3 = "Ken " * 12

In [75]:
tupl3

'Ken Ken Ken Ken Ken Ken Ken Ken Ken Ken Ken Ken '

In [76]:
len(tupl3)

48

In [77]:
tupl2.index('Ben')

1

In [78]:
tupl3.count("Ken")

12

###DICTIONNARIES

Dictionary is ordered as well as unordered depending on the version of python. 

Dictionary is collection of items which stores data in key value pair, separated by commas and enclosed between { }.

We can use only immutable objects like strings and tuples for the key of the dictionary, and keys should be unique.

In [79]:
dict1 = {}

In [80]:
type(dict1)

dict

In [81]:
students = {"Megan": 58, "Aman":50, "Adam":27}

In [82]:
students

{'Adam': 27, 'Aman': 50, 'Megan': 58}

In [83]:
my_dict = {"Saakshi": {"city": "Vashi", "surname": "Dheer"}, "Aman":{"city":"Thane", "surname": "Mehta"}}

In [84]:
my_dict

{'Aman': {'city': 'Thane', 'surname': 'Mehta'},
 'Saakshi': {'city': 'Vashi', 'surname': 'Dheer'}}

In [85]:
my_dict["Aman"]

{'city': 'Thane', 'surname': 'Mehta'}

In [86]:
my_dict["Aman"]["city"]

'Thane'

In [87]:
my_dict

{'Aman': {'city': 'Thane', 'surname': 'Mehta'},
 'Saakshi': {'city': 'Vashi', 'surname': 'Dheer'}}

In [88]:
students["Adam"]

27

In [89]:
my_dict["Saakshi"]["surname"]

'Dheer'

In [90]:
my_dict1 = {"Saakshi":{"city": "Dubai", "surname":"Dheer"}}

In [91]:
my_dict1

{'Saakshi': {'city': 'Dubai', 'surname': 'Dheer'}}

In [92]:
#update() updates the dictionary with the specified key-value pairs
my_dict.update(my_dict1)

In [93]:
my_dict

{'Aman': {'city': 'Thane', 'surname': 'Mehta'},
 'Saakshi': {'city': 'Dubai', 'surname': 'Dheer'}}

In [94]:
#clear() removes all the elements from the dictionary
my_dict1.clear()

In [95]:
my_dict1

{}

##Python Keyword

Keywords are reserved words in python, they are built into core language. They cannot be used as variable name, class name, function name or any other identifier. These keywords are used to define the syntax of python.

In [96]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [97]:
import calendar as cl

cl.isleap(2021)

False

In [98]:
import calendar as cl

cl.isleap(2020)

True

In [99]:
#Assert is used while debugging code

name = "Julia"

In [100]:
#assert checks whether value is correct or not
assert name == "Mega"

AssertionError: ignored

In [101]:
assert name == "Julia"

##Operators in Python

Operators are used to perform operations on variables and values. 
 
###List of Operators

1. Arithmetic Operators
2. Comparison Operators
3. Logical Operators
4. Assignment Operators
5. Membership Operators

In [102]:
x = 12

In [103]:
x += 12

In [104]:
x

24

In [105]:
x /= 6
x

4.0

In [106]:
list1 = ["megan", "sara", "adam"]

In [107]:
'megan' in list1

True

In [108]:
'aman' not in list1

True

#Control Flow Graph

Program control flow graph is the order in which the program gets executed.


1. Conditonal Statements
2. Loops

In [110]:
#Comparison of two values 
x = int(input("Enter value:"))
y = int(input("Enter value:"))

if x > y:
  print ('X is greater')
else:
  print('Y is greater')

Enter value:3
Enter value:6
Y is greater

In [111]:
#Comparison of two values 
x = int(input("Enter value:"))
y = int(input("Enter value:"))

if x > y:
  print ('X is greater')

print('Y is greater')

Enter value:6
Enter value:9
Y is greater

In [112]:
#Comparison of three values 
x = int(input("Enter value:"))
y = int(input("Enter value:"))
z = int(input("Enter value:"))

if x > y and x > z:
  print ('X is greater')
elif y > z:
  print('Y is greater')
else: 
  print("Error")

Enter value:9
Enter value:3
Enter value:10
Error

In [113]:
#count using while loop
x = 12
count = 0
while (count != x):
  count += 1
  print ("count:",count)

count: 1
count: 2
count: 3
count: 4
count: 5
count: 6
count: 7
count: 8
count: 9
count: 10
count: 11
count: 12

In [114]:
x = 12
count = 0
while (count != x):
  count += 1
  print ("count:",count)
else:
  print ("end")

count: 1
count: 2
count: 3
count: 4
count: 5
count: 6
count: 7
count: 8
count: 9
count: 10
count: 11
count: 12
end

In [115]:
#printing prime numbers
x = 1
while(x<=100):
  i = 2
  count = 0
  while(i<=x//2):
    if x % i == 0:
      count += 1
      break
    i +=1

  if (count == 0 and x != 1):
    print('%d' %x, end = ' ')
  x += 1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [116]:
x = "Pizza is good"
for i in x:
  print (x)

Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good
Pizza is good

In [117]:
for i in range(12):
  print (i)

0
1
2
3
4
5
6
7
8
9
10
11

In [118]:
for i in range(0,101,10):
  print (i)

0
10
20
30
40
50
60
70
80
90
100

In [119]:
#printing tables 
for i in range(1,11):
  print ('table of {0}'.format(i))
  for j in range(1,11):
    print (i*j)

table of 1
1
2
3
4
5
6
7
8
9
10
table of 2
2
4
6
8
10
12
14
16
18
20
table of 3
3
6
9
12
15
18
21
24
27
30
table of 4
4
8
12
16
20
24
28
32
36
40
table of 5
5
10
15
20
25
30
35
40
45
50
table of 6
6
12
18
24
30
36
42
48
54
60
table of 7
7
14
21
28
35
42
49
56
63
70
table of 8
8
16
24
32
40
48
56
64
72
80
table of 9
9
18
27
36
45
54
63
72
81
90
table of 10
10
20
30
40
50
60
70
80
90
100

In [120]:
#printing tables
for i in range(1,11):
  print ('table of :',i)
  for j in range(1,11):
    print (i,"*",j,'=',i*j)

table of : 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
table of : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
table of : 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
table of : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
table of : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
table of : 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
table of : 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
table of : 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
table of : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
table of : 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [121]:
#printing tables
for i in range(21,31):
  for j in range(1,11):
    k = i*j
    print('{0} * {1} = {2}'.format(i,j,k), end = '\t')
  print()

21 * 1 = 21	21 * 2 = 42	21 * 3 = 63	21 * 4 = 84	21 * 5 = 105	21 * 6 = 126	21 * 7 = 147	21 * 8 = 168	21 * 9 = 189	21 * 10 = 210
22 * 1 = 22	22 * 2 = 44	22 * 3 = 66	22 * 4 = 88	22 * 5 = 110	22 * 6 = 132	22 * 7 = 154	22 * 8 = 176	22 * 9 = 198	22 * 10 = 220
23 * 1 = 23	23 * 2 = 46	23 * 3 = 69	23 * 4 = 92	23 * 5 = 115	23 * 6 = 138	23 * 7 = 161	23 * 8 = 184	23 * 9 = 207	23 * 10 = 230
24 * 1 = 24	24 * 2 = 48	24 * 3 = 72	24 * 4 = 96	24 * 5 = 120	24 * 6 = 144	24 * 7 = 168	24 * 8 = 192	24 * 9 = 216	24 * 10 = 240
25 * 1 = 25	25 * 2 = 50	25 * 3 = 75	25 * 4 = 100	25 * 5 = 125	25 * 6 = 150	25 * 7 = 175	25 * 8 = 200	25 * 9 = 225	25 * 10 = 250
26 * 1 = 26	26 * 2 = 52	26 * 3 = 78	26 * 4 = 104	26 * 5 = 130	26 * 6 = 156	26 * 7 = 182	26 * 8 = 208	26 * 9 = 234	26 * 10 = 260
27 * 1 = 27	27 * 2 = 54	27 * 3 = 81	27 * 4 = 108	27 * 5 = 135	27 * 6 = 162	27 * 7 = 189	27 * 8 = 216	27 * 9 = 243	27 * 10 = 270
28 * 1 = 28	28 * 2 = 56	28 * 3 = 84	28 * 4 = 112	28 * 5 = 140	28 * 6 = 168	28 * 7 = 196	28 * 8 = 224	28 * 9 = 252	28 * 10 = 280
29 * 1 = 29	29 * 2 = 58	29 * 3 = 87	29 * 4 = 116	29 * 5 = 145	29 * 6 = 174	29 * 7 = 203	29 * 8 = 232	29 * 9 = 261	29 * 10 = 290
30 * 1 = 30	30 * 2 = 60	30 * 3 = 90	30 * 4 = 120	30 * 5 = 150	30 * 6 = 180	30 * 7 = 210	30 * 8 = 240	30 * 9 = 270	30 * 10 = 300

##List Comprehension

It's an elegant wat to define and create list in python. It is basically used to create a new list from another sequence. Just like mathematical set of notation in a single line. 

syntax: [output expression for items in sequence if condition]

In [122]:
list1 =[]
for i in range(0,10):
  list1.append(i**2)

list1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [123]:
[i**2 for i in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [124]:
[i**3 for i in range(0,10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [125]:
list2 = []
for i in range(1,11):
  if i % 2 == 0:
    list2.append(i**2)

list2

[4, 16, 36, 64, 100]

In [126]:
[i**2 for i in range(1,11) if (i%2==0)]

[4, 16, 36, 64, 100]

In [127]:
[i**2 for i in range(1,11) if (i%2==0 and i%3==0)]

[36]

In [128]:
[i*j for j in range(1,11) for i in range (7,8)]

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [129]:
[i*j for j in range(1,11) for i in range (10,11)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

##Functions in Python 

A function in python is a block of code that performs a specific task which runs only when it is called.

In [130]:
def wish():
  print ("Happy Birthday Hasan")

In [131]:
wish()

Happy Birthday Hasan

In [132]:
def fact():
  x = int(input("Enter number:"))
  i,j = 1,1
  while (i<=x):
    j = j*i
    i += 1
  print (j)

In [133]:
fact()

Enter number:2
2

In [134]:
factorial = lambda x : x and x * factorial(x - 1) or 1

In [135]:
factorial(4)

24

In [136]:
def add(a,b):
  return a+b

In [137]:
a=3 
b=4

add(a,b)

7

In [138]:
def square(num, pow=2):
  return num**pow

In [139]:
a = 2

square(a)

4

In [140]:
square(2,2)

4

In [141]:
square(5,2)

25

##Lambda Function

Lambda functions are the quicker to write on the go function. 
In python they are also called as anonymous functions.

Syntax: lambda argument : expression

In [142]:
factorial = lambda x : x and x * factorial(x - 1) or 1

##Map() Function

It is a function which takes two arguments: function and sequence. This function makes an iterator that applies to each element of the sequence.

In [143]:
x = range(1,11)
y = map(lambda i : i**2, x)
print (list(y))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##Filter() function

It takes two arguments: a function and a sequence. This function offers to filter out elements from a list that doesn't satisfy the criteria.

In [144]:
ls = ['match', 'hat', 'art','steel','bottle', 'cart']
ls1 = filter(lambda string : len(string) > 5, ls)
print(list(ls1))

['bottle']

##Object Oriented Programming 

The programming language that deals with objects and classes.

##OOP Terminology

1. Class: It is a blueprint that defines the state of atrributes that characterises any objects of the class. 
2. Inheritance: It is a process of creating a new class from existing one and transfer of characteristics on one class to another class.
3. Objects: It is a real time entity which has shape, behaviour and attribute. It comprises of both data members and methods.

In [145]:
class Students:
  std_count = 0

  def __init__(self, name, rollno):
    self.name = name
    self.rollno = rollno
    Students.std_count += 1
   

  def scount(self):
     print("Count: %d "%Students.std_count)
     
  def sname(self):
    print("name:",self.name)

In [146]:
std1 = Students('Maria',58)
std2 = Students('Saakshi',59)

In [147]:
std1.sname()

name: Maria

In [148]:
std2.scount()

Count: 2

##Inheritance
It is enables us to define to a class that takes all the functionalities from parent class to child class and allows us to add more.

In [149]:
#parent class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#child class
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mega", "Satish")
x.printname()

Mega Satish

##Exception

Exception is an abnormal condition which changes the flow of execution of the program. And handling the exception using try or except clause.

In [150]:
import sys
list1=['Mega', 58, 'Anchan', 27, 'Swara']

for entry in list1:
  try:
    print('The entry point is:', entry)
    i = 1/int(entry)
    break

  except:
    print('Oops', sys.exc_info()[0], 'occured')
    print('Next Entry')
    print()

print('the reciprocal of', entry, 'is', i)

The entry point is: Mega
Oops <class 'ValueError'> occured
Next Entry

The entry point is: 58
the reciprocal of 58 is 0.017241379310344827